# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Distribution / packaging
.Python

# Virtual environments
.env/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# pyenv
.python-version

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Misc
*.log
*.sqlite3
.env
.env.local
host_key
host_key.pub
